<head>
	<meta charset="utf-8" />
	<title><%=title %> &middot; Stoff</title>
</head>
<body>
	<h1>Регистрация</h1>
	<form action="/register" method="post">
    	<label for="enter">Введите свои учетные данные</label>
    	<input id="login" type="text" name="login_field">
    	<input id="password" type="password" name="password_field">
    	<input type="submit" value="Зарегистрироваться">
	</form>
	<a href="/">Уже есть аккаунт? Войдите!</a>
</body>